body::-webkit-scrollbar {
    display: none;
}

.both-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #003d40;
}

.left-side-view .whole-content {
    margin: 0px 15px -10px 15px;
    padding: 0px;
    background: #e6f7f7;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.left-side-view .whole-content::-webkit-scrollbar {
    display: none;
}

.sponsored-result {
    color: #e6f7f7;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #015c61;
}

.sponsored-result h1 {
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.index-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
    padding: 15px;
    border-top: 1px solid #333;
    background: #e6f7f7;
}

.index-view .img-cont img {
    width: 50px;
    height: 50px;
}

.web-name {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

.web-name h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.web-name a {
    text-decoration: none;
    color: black;
}

.web-name a:hover {
    text-decoration: underline;
}

.web-name h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.web-destript {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555;
    background: #e6f7f7;
    align-items: start;
    padding-left: 15px;
    padding-bottom: 20px;
}

.more-detail-container {
    text-align: start;
    width: 100%;
    background: #e6f7f7;
    margin: 1px 5px 20px -15px;
    padding: 10px
}

.more-detail-container .more-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid black;
    padding: 15px;
    margin: 1px;
    color: black;
    background: #0097a7;
}

.more-detail-container .more-detail a {
    color: #e6f7f7;
    text-decoration: none;
    font-size: 19px;
}

.more-detail-container .more-detail a:hover {
    text-decoration: underline;
}

.more-detail-container .more-detail p {
    font-size: 12px;
}

.right-side-view {
    border-left: 1px solid #ccc;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.right-side-view::-webkit-scrollbar {
    display: none;
}

.right-side-view .top h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #e6f7f7;
    margin: 30px;
}

.right-side-view .img-descript {
    border-bottom: 1px solid #ccc;
}

.right-side-view .img-descript .imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    background: #e6f7f7;
    padding: 10px;
    height: 450px;
    width: 550px;
    object-fit: cover;
    gap: 10px;
    margin-left: 100px;
    border-radius: 10px;
}

.right-side-view .img-descript .imgs::-webkit-scrollbar {
    display: none;
}

.right-side-view .img-descript .imgs img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.right-side-view .img-descript .imgs img:hover {
    transform: scale(1.10);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.right-side-view .descript {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #555;
    background: #e6f7f7;
    align-items: start;
    margin: 20px 5px 5px 5px;
    padding: 15px;
    border-radius: 5px;
}

.right-side-view .descript h3 {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

.right-side-view .make-detail {
    background: #e6f7f7;
    margin: 5px 5px 20px 5px;
}

.right-side-view .make-detail .detail-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.right-side-view .make-detail .detail-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.right-side-view .make-detail .detail-3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.right-side-view .make-detail .detail-4 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}


@media (max-width:560px) {

    .both-side {
        grid-template-columns: repeat(1, 1fr);
        background: #003d40;
    }

    .left-side-view .whole-content {
        height: 160vh;
        width: 100%;
        margin: 0px;
    }

    .left-side-view .whole-content::-webkit-scrollbar {
        display: none;
    }

    .more-detail-container .more-detail {
        width: 100%;
    }

    .web-destript {
        height: 55%;
    }

    .right-side-view {
        display: none;
    }
}